html {
  scroll-behavior: smooth;
}

body.nav-open {
  overflow: hidden;
}

#body-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
  background: rgba(0, 0, 0, 0.75);
  z-index: 4;
  pointer-events: none;
}

#body-overlay.activate {
  opacity: 1;
}

section{
  overflow:hidden;
}

.bg-accent {
  background: var(--accent-primary);
}

a.bg-accent:hover {
  background: var(--accent-secondary);
}

.bg-accent-secondary {
  background: var(--accent-secondary);
}
.bg-accent-tertiary {
  background: var(--accent-tertiary);
}

a.bg-accent-secondary:hover {
  background: var(--accent-primary);
}

.bg-gradient-light-top-dark-bottom {
  background: #183034;
  background: linear-gradient(0deg, rgba(var(--accent-secondary-rgba), 1) 0%, rgba(var(--accent-tertiary-rgba), 1) 100%);
}
.bg-gradient-dark-top-light-bottom {
  background: #183034;
  background: linear-gradient(0deg, rgba(var(--accent-tertiary-rgba), 1) 0%, rgba(var(--accent-secondary-rgba), 1) 100%);
}

.gradient-bottom-dark-top-light-bottom:after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background: #183034;
  background: linear-gradient(180deg, rgba(var(--accent-secondary-rgba), 1) 0%, rgba(var(--accent-tertiary-rgba), 1) 100%);
}

.gradient-bottom-transparent-top-dark-bottom:after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background: #183034;
  background: linear-gradient(0deg, rgba(var(--accent-secondary-rgba), 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.gradient-bottom-transparent-top-tertiary-bottom:after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background: #183034;
  background: linear-gradient(0deg, rgba(var(--accent-tertiary-rgba), 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.gradient-top-dark-top-transparent-bottom:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100px;
  background: #183034;
  background: linear-gradient(180deg, rgba(var(--accent-secondary-rgba), 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index:1;
}
.gradient-top-light-top-transparent-bottom:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100px;
  background: #183034;
  background: linear-gradient(180deg, rgba(var(--accent-tertiary-rgba), 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index:1;
}

.bg-white {
  background: white;
}

.bg-light {
  background: var(--light);
}
.bg-light-secondary {
  background: var(--light-secondary);
}

.bg-black {
  background: black;
}

.br-0 {
  border-radius: 0;
}

.br-25 {
  border-radius: 25px;
}

.br-8 {
  border-radius: 8px;
}

.b-0 {
  border: 0;
}

.border {
  border: 3px solid white !important;
}

.border.accent {
  border: 1px solid #1b75ba !important;
}

a.border.accent:hover {
  background: #1b75ba;
  color: white;
  transition: all 0.25s ease-in-out;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.overflow-h {
  overflow: hidden;
}

.pen {
  pointer-events: none;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

hr.text-white {
  border-color: white;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.divider {
  border-top: 2px solid var(--accent-primary);
  width: 200px;
  margin: 10px auto;
}

.spacer {
  height: 15px;
}

/* content */
.alignleft {
  float: left;
}

.grecaptcha-badge {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .bg-attachment {
    background-attachment: unset !important;
  }
}
@media screen and (max-width: 1199px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .desktop-hidden {
    display: none !important;
  }
}

/*** Works on common browsers ***/
::selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

::-ms-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--accent-primary);
  color: #fff;
}