input.gform_button.button,
input#gform_submit_button_1,
.gform_button.button {
  background-color: var(--accent-primary) !important;
  border-color: var(--accent-primary);
  border-radius: 25px !important;
  padding: 10px 35px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-family: 'poppinsbold';
  width: 100%;
  box-shadow: none !important;
  white-space: unset;
}

input#gform_submit_button_1:hover,
.gform_button.button:hover {
  background-color: var(--accent-primary-hover);
  border-color: var(--accent-primary-hover);
  /* color:white !important; */
}

.gform-footer.gform_footer.top_label {
    margin-bottom: -17.5px;
}

.text-white form legend.gfield_label,
.text-white form label.gfield_label {
    color: white;
}

input:focus,
textarea:focus {
    border: 1px solid var(--accent-primary) !important;
    outline-color: var(--accent-primary) !important;
}

/* .gform_footer.top_label {
  margin-bottom: -90px !important;
} */

input,
textarea {
  box-shadow: inset 1px 1px 8px #eaeaea !important;
  border: none;
}

input[type=file] {
  background: transparent;
  box-shadow: none;
  border: none;
}

input.gfield-choice-input {
    width: auto;
    box-shadow: none !important;
    margin: 0px 10px 0px 0px;
}

.gchoice {
    display: flex;
    align-items: baseline;
}

.sidebar .gchoice label {
    text-align: left;
}

/* custom form */
input,
textarea {
  width: 100%;
  border: 1px solid #eaeaea;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .5);
  /* padding: 15px !important; */
  outline-color: var(--accent-primary);
  color:black !important;
}

label {
  font-weight: 700;
  font-size: 90%;
  margin-top: 15px;
}

button[type=submit] {
  background: var(--accent-primary);
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  transition: all .25s ease-in-out;
  font-weight: 700;
  cursor: pointer;
}

button[type=submit]:hover {
  background: var(--accent-secondary);
}

input:focus-visible,
textarea:focus-visible {
  outline-color: var(--accent-secondary);
}

input::placeholder,
textarea::placeholder {
  /* color: red; */
  font-weight: 900;
}