/* start of product page */
button.single_add_to_cart_button.button.alt {
    width:200px;
}
.woocommerce .quantity .qty {
    height: 25px;
    width: 100px;
}
.woocommerce div.product form.cart .variations label {
    color: var(--accent-primary);
    font-weight: 900;
}
/* end of product page */

/* woocommerce shortcodes */
a.wp-block-button__link.wp-element-button.add_to_cart_button,
button.wp-block-button__link.wp-element-button.add_to_cart_button
{
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #e9e6ed;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    cursor:pointer;
}

/* start of shop page */
.woocommerce .woocommerce-ordering select,.woocommerce div.product form.cart .variations select,select#wc-block-components-sort-select__select-0 {
    background: #e8e6ed;
    padding: 10px;
    color: #515151;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
/* end of shop page */

/* start of checkout page */
form.checkout.woocommerce-checkout {
    display: flex;
    justify-content: space-between;
    position: relative;
}
div#customer_details {
    width: 48%;
}
div#order_review {
    width: 48%;
    padding-top: 50px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    width: 100% !important;
    max-width: 100%;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    padding-top: 50px;
}
@media screen and (min-width:992px) {
    h3#order_review_heading {
        position: absolute;
        top: 0;
        left: 52%;
    }
}
@media screen and (max-width:991px){
    form.checkout.woocommerce-checkout {
        flex-wrap: wrap;
    }
    div#customer_details, div#order_review{
        width:100%;
        padding-top:0;
    }
    h3#order_review_heading {
        padding-top: 50px;
    }
}
span.woocommerce-input-wrapper {
    width: 100%;
}
/* end of checkout page */
/* start of cart page */
input#coupon_code {
    width: 125px;
}
/* end of cart page */